/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Example DTS overlay with a single BME680/688 device
 * connected to I2C and a flash partition dedicated
 * to BSEC state persistence.
 *
 * This overlay is for the nucleo_f767zi board.
 *
 * Also shows explicit I2C1 config and assignment of both BME680 (0x77)
 * and BME68x Sensor API (0x76) addresses/presentations.
 */

&i2c1 {
    status = "okay";
    clock-frequency = <100000>; /* 100 kHz */
    pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
    pinctrl-names = "default";

    bme68x@77 {
        compatible = "bosch,bme68x-sensor-api";
        reg = <0x77>;
        label = "BME68X";
    };
};
